<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleDisplayName</key><string>驻迹</string>
    <key>CFBundleShortVersionString</key><string>1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>UILaunchScreen</key><dict/>
    <key>NSLocationWhenInUseUsageDescription</key><string>驻迹需要定位权限，以记录旅途中的位置并在地图上展示足迹。</string>
    <key>NSCameraUsageDescription</key><string>驻迹需要相机权限，以为旅行记录拍摄照片。</string>
    <key>NSPhotoLibraryUsageDescription</key><string>驻迹需要访问照片，以将旅行照片添加到足迹。</string>
    <key>NSPhotoLibraryAddUsageDescription</key><string>驻迹需要保存照片到您的照片图库。</string>
    <key>ITSAppUsesNonExemptEncryption</key><false/>
</dict>
</plist>
